.postsloader {
	position: relative;
	min-height: 300px;
	padding-top: 50px;
	&__nav {
		position: absolute;
		top: 0;
		right: 1rem;
	}
	&__btn {
		background: #000;
		padding: 0;
		line-height: 1;
		height: 40px;
		width: 40px;
		&:hover,
		&:focus,
		&:focus:active {
			background: #000;
		}
		&[disabled] {
			opacity: 0.3;
		}
		svg {
			fill: #fff;
			margin: auto;
		}
	}
	&__items {
		list-style-type: none;
		display: flex;
		padding: 0;
	}
}
